@font-face{
  font-family: 'fonts/GolosText-Regular';
  src:  url('fonts/GolosText-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'fonts/HONORSansArabicUI-R';
  src:  url('fonts/HONORSansArabicUI-R.ttf') format('truetype');
}

@font-face {
  font-family: 'fonts/Abeer_2711-يوم-الجمعة.otf';
  src:  url('fonts/Abeer_2711-يوم-الجمعة.otf') format('opentype');
}