.main-page-product
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
}
.main-page-product-img
{
    min-width: 250px;
    max-width: 500px;
}
.main-page-product-img img
{
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}

.main-page-product h4
{
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-family: 'fonts/HONORSansArabicUI-R', sans-serif;
}