:root {
  --product-imgs-flex-basis: 25%;
  --product-img_url="yo";
}

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* from style.css  */

	.top-text-logo
	{
		text-decoration: none;
		/*text-shadow: 0 0 5px #000;*/
		/*color: #555;*/
			/*color: #FFF;*/
			color: black;
		font-size: 25px;
		text-transform: uppercase;
		cursor: pointer;
		
		/*font-family: 'HONORSansArabicUI-R', sans-serif;*/
		font-family: 'Abeer_2711-يوم-الجمعة', sans-serif;
		transition: 0.5s;

		z-index: 100;

		-webkit-user-select: none;
	  user-select: none;
	}

	.products-page-navbar nav ul li a
	{
		text-decoration: none;
		/*text-shadow: 0 0 5px #000;*/
		/*font-weight: bold;*/
		/*color: #555;*/

		-webkit-user-select: none;
	  user-select: none;

		color: #000;
		text-transform: uppercase;
	}

	.products-page-navbar nav ul li::after
	{
		content: '';
		height: 3px;
		width: 0;
		background: var(--the-red);
		position: absolute;
		left: 0;
		bottom: -10px;
		transition: 0.5s;
	}

	.products-page-navbar nav ul li:hover::after
	{
		width: 100%;
	}

	/**/

	.menu-navbar nav ul li a
	{
		text-decoration: none;
		/*text-shadow: 0 0 5px #000;*/
		/*font-weight: bold;*/
		/*color: #555;*/

		-webkit-user-select: none;
	  user-select: none;

		color: #000;
		text-transform: uppercase;
	}

	.menu-navbar nav ul li::after
	{
		content: '';
		height: 3px;
		width: 0;
		background: var(--the-red);
		position: absolute;
		left: 0;
		bottom: -10px;
		transition: 0.5s;
	}

	.menu-navbar nav ul li:hover::after
	{
		width: 100%;
	}


/*              */

body
{
	font-family: 'fonts/GolosText-Regular', sans-serif;
	/*background-color: #ededed;*/
	display: block;
}

.header
{
	/* red (original) */
	/*background: radial-gradient(#fff, #ffd6d6);*/

	/* blue */
	background: radial-gradient(#fff, #00BFFF);
}

.header .products-page-row
{
	/*margin-top: 70px;*/
	margin-right: 70px;
	margin-left: 70px;
}

	.header .row
	{
		/*margin-top: 70px;*/
		margin-right: 70px;
		margin-left: 70px;
	}

	.header .product-page-row
	{
		/*margin-top: 70px;*/
		margin-right: 70px;
		margin-left: 70px;
	}

.products-page-pattern
{
	/*background:linear-gradient(45deg, #EEEEEE, #FAF8F9, #FFFFFF);*/
	background: #f5f5f5;
}

.products-page-navbar
{
	display: flex;
  align-items: center;
  padding: 10px;
  padding-right: 90px;
  padding-left: 90px;
  /* background: #FFF; */
  /* background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3)); */
  /* background-color: red; */
  /* position: absolute; */
  width: 100%;
  height: 15vh;

  background: white;
  box-shadow: 0 -6px 8px -8px #ccc;
  /*box-shadow: 0 0 10px #ccc;
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;*/

  justify-content: space-between;
}

.menu-navbar
{
	display: flex;
  align-items: center;
  padding: 10px;
  padding-right: 90px;
  padding-left: 90px;
  /* background: #FFF; */
  /* background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3)); */
  /* background-color: red; */
  /* position: absolute; */
  width: 100%;
  height: 8vh;

  background: white;
  box-shadow: 0 -6px 8px -8px #ccc;
/*  box-shadow: 0 0 10px #ccc;
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;*/
}

.products-page-navbar nav
{
	flex: 1;
	text-align: right;
}

.products-page-navbar nav ul
{
	display: inline-block;
	list-style-type: none;
	text-align: center;
}

.products-page-navbar nav ul li
{
	display: inline-block;
	margin-right: 20px;
	position: relative;
}

/**/

.menu-navbar nav
{
	flex: 1;
	text-align: right;
}

.menu-navbar nav ul
{
	display: inline-block;
	list-style-type: none;
	text-align: center;
}

.menu-navbar nav ul li
{
	display: inline-block;
	margin-right: 20px;
	position: relative;
}

@media only screen and (max-width: 600px)
{
	.products-page-navbar
	{   
		padding-right: 35px;
    padding-left: 35px;
	}

	.menu-navbar
	{   
		padding-right: 35px;
    padding-left: 35px;
	}
}

a
{
	text-decoration: none;
	color: #555;
}

p
{
	color: #555;
}

.products-page-row
{
	display: flex;
	/*align-items: center;*/
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: space-around;

	transition: 0.5s;
}

	.row
	{
		display: flex;
		/*align-items: center;*/
		align-items: flex-start;
		flex-wrap: wrap;
		justify-content: space-around;

		transition: 0.5s;
	}

	.product-row
	{
		display: flex;
		align-items: center;
		/*align-items: flex-start;*/
		flex-wrap: wrap;
		/*justify-content: space-around;*/
		justify-content: center;

		transition: 0.5s;

		background: white;

		box-shadow: 0 0 10px #ccc;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
	}

.col-2
{
	flex-basis: 50%;
	min-width: 300px;
}

.col-2 img
{
	max-width: 100%;
	padding: 50px 0;
}

.col-2 h1
{
	/*font-size: 50px;
	line-height: 60px;*/
	font-size: 2.5em;
	line-height: 4vm;
	margin: 25px 0;
}

.add-to-cart-btn
{
	display: inline-block;

	/*red (original)*/
	/*background: var(--the-yellow);*/

	background: var(--the-red);
	/*background: #F2A70D;*/

	font-size: 24px;

	color: #fff;
	/*padding: 8px 30px;*/
	padding: 15px 30px;
	/*margin: 30px 0;*/
	border-radius: 30px;
	transition: background 0.3s;
	box-shadow: 5px 5px 22px 3px rgba(0, 0, 0, 0.1);

	-webkit-user-select: none;
  user-select: none;
}

.add-to-cart-btn:hover
{
	background: var(--the-yellow);
}


.categories
{
	margin: 70px 0;
}

.col-3
{
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
}

.col-3 img
{
	width: 100%;
}

.small-container
{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.products-page-col-4
{
	background: white;
	flex-basis: 25%;
	padding: 10px;
	/*min-width: 250px;*/
	/*margin: 0 5px 50px 5px;*/
	transition: transform 0.5s;

	cursor:pointer;

	box-shadow: 3px 4px 10px #ccc;
}

.products-page-col-4 img
{
	/*width: 100%;*/
	width: 200px;
	height: 200px;
	object-fit: cover;
	/*padding: 8px;*/
	/*box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);*/
}

.products-page-col-4 h4
{
	font-size: 18px;
	padding: 5px 8px 30px 8px;
}

.products-page-col-4 p
{
	/*font-size: 14px;*/
	color: #129cb8;
	font-weight: bold;
}

.products-page-col-4:hover
{
	/*transform: translateY(-5px);*/
	transform: translateY(-20px);
}

/**/
	.col-4
	{
		flex-basis: 25%;
		padding: 10px;
		min-width: 250px;
		margin-bottom: 50px;
		transition: transform 0.5s;

		cursor:pointer;
	}

	.col-4 img
	{
		width: 100%;	
		box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.1);
	}

	.col-4 p
	{
		/*font-size: 14px;*/
		color: #129cb8;
		font-weight: bold;
	}

	.col-4:hover
	{
		/*transform: translateY(-5px);*/
		transform: translateY(-20px);
	}
/**/

.checked {
  color: orange;
  /*color: var(--the-yellow);*/
}

.title
{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: #555;
}

.title::after
{
	content: '';

	/*red (original)*/
	/*background: var(--the-yellow);*/
	/*blue*/
	background:	var(--the-red);

	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

h4
{
	color: #555;
	font-weight: normal;
}

.product-text
{
	text-align: left;
  font-size: 20px;
}

/*-------------- offer --------------*/

.offer
{
	/* red (original) */
	/*background: radial-gradient(#fff, #ffd6d6);*/

	/* blue */
	background: radial-gradient(#fff, #00BFFF);

	margin-top: 80px;
	padding: 30px 0;
}

.col-2 .offer-img
{
	padding: 50px;
}

small
{
	color: #555;
}

/*-------------- testimonial --------------*/

.testimonial
{
	padding-top: 100px;
}

.testimonial .col-3
{
	text-align: center;
	padding: 40px 20px;
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: transform 0.5s;
}

.testimonial .col-3 img
{
	width: 50px;
	margin-top: 20px;
	border-radius: 50%;
}

.testimonial .col-3:hover
{
	/*transform: translateY(-10px);*/
	transform: translateY(-20px);
}

.fa.fa-quote-left
{
	font-size: 34px;
	/*red (original)*/
	/*color: var(--the-yellow);*/

	/*blue*/
	color: var(--the-red);
}

.col-3 p
{
	font-size: 12px;
	margin: 12px 0;
	color: #777;
}

.testimonial .col-3 h3
{
	font-weight: 600;
	color: #555;
	font-size: 16px;
}

/*--------------- brands ---------------*/

.brands
{
	margin: 100px auto;
}

.col-5
{
	width: 160px;
}

.col-5 img
{
	width: 100%;
	cursor: pointer;
	filter: grayscale(100%);
}

.col-5 img:hover
{
	filter: grayscale(0);
}

/*--------------- footer ---------------*/

	/*
		.footer
		{
			background: #000; was commented
			background: #252a2c;
			color: #8a8a8a;
			font-size: 14px;
			padding: 60px 0 20px;
		}

		.footer p
		{
			color: #8a8a8a;
		}

		.footer h3
		{
			color: #fff;
			margin-bottom: 20px;
		}

		.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4
		{
			min-width: 250px;
			margin-bottom: 20px;
		}

		.footer-col-1
		{
			flex-basis: 30%;
		}

		.footer-col-2
		{
			flex: 1;
			text-align: center;
		}


		.footer-col-2 img
		{
			width: 180px;
			margin-bottom: 20px;
		}

		.footer-col-3, .footer-col-4
		{
			flex-basis: 12%;
			text-align: center;
		}

		ul
		{
			list-style-type: none;
		}

		.app-logo
		{
			margin-top: 20px;
		}

		.app-logo img
		{
			width: 140px;
		}

		.footer hr
		{
			border: none;
			background: #b5b5b5;
			height: 1px;
			margin: 20px 0;
		}

		.copyright
		{
			text-align: left;
		}

	*/

/*----------------- all products page -----------------*/

.row-2
{
	justify-content: space-between;
	margin: 100px auto 50px;
	align-items: center;
}

.products-side-thing
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.products-side-thing p
{
	text-align: right;
	margin-left: 20px;
}

#products-select
{
	/*border: 1px solid var(--the-yellow);*/
	border: none;
	border-radius: 5px; /* mine */
	padding: 10px 30px;
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
	font-size: 17px;
	font-family: 'fonts/GolosText-Regular', sans-serif;
		/*font-family: 'Golos Text', sans-serif;*/
	font-weight: bold;
	background: white;
}

#products-select option
{
	border: none;
	border-radius: 5px;
	padding: 10px 30px;
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
	font-size: 17px;
	font-family: 'fonts/GolosText-Regular', sans-serif;
	font-weight: bold;
}

select:focus
{
	outline: none;
}

.page-btn
{
	margin: 0 auto 80px;
}

.page-btn span
{
	display: inline-block;
	border: 1px solid var(--the-yellow);
	margin-left: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}

.page-btn span:hover
{
	background: var(--the-yellow);
	color: #fff;
}

/*----------------- single products details -----------------*/

.single-product
{
	margin-top: 30px;
}

.single-product h4
{
	margin: 20px 0;
	font-size: 40px;
	font-weight: bold;
	color: #129cb8;
}

.single-product select
{
	display: block;
	padding: 10px;
	margin-top: 20px;
}

/*.single-product input
{
	width: 50px;
	height: 40px;
	padding-left: 10px;
	font-size: 20px;
	margin-right: 10px;
	border: 1px solid var(--the-yellow);
}*/



#product-img
{
	/*width: 387px;*/
	aspect-ratio: 1 / 1;
	/*height: 387px;*/

	/*opacity: 1;*/
	/*-webkit-transition: opacity 0.5s ease-in-out;*/
	/*-moz-transition: opacity 1s ease-in-out;*/
	/*-o-transition: opacity 1s ease-in-out;*/
	/*transition: opacity 0.5s ease-in-out;*/

	/*transition: all 0.5s ease-in-out;*/

	/*box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);*/
	margin: 10px 0 10px 0;
}

/*#product-img.loading
{
	background-image: linear-gradient(120deg, #ececec 50%, #fafafa 60%, #fafafa 61%, #ececec 70%);
	background-size: 200%;
	background-position: 100% 0;
	animation: waves 2s linear infinite;
}*/

/*#product-img.loading
{
	background-image: linear-gradient(120deg, #ececec 50%, #fafafa 60%, #fafafa 61%, #ececec 70%);
	background-size: 200%;
	background-position: 100% 0;
	animation: waves 2s linear infinite;
}*/

/*-----------------------------------------------------------------*/


/*@keyframes waves
{
	100%
	{
		background-position: -100% 0;
	}
}*/



/*-----------------------------------------------------------------*/
input:focus
{
	outline: none;
}

.single-product .fa
{
	color: var(--the-yellow);
	margin-left: 10px;
}

.single-product .col-2
{
	padding: 20px;
}

.single-product .col-2 img
{
	padding: 0;
}

.small-img-row
{
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
}

.small-img-col
{
	flex-basis: var(--product-imgs-flex-basis);
	/*margin-right: var(--product-imgs-flex-basis);
	margin-left: var(--product-imgs-flex-basis)*/;
	cursor: pointer;
	box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.1);
}

/*------------ cart items details -------------*/

.cart-page
{
	margin: 80px auto;
}

table
{
	width: 100%;
	border-collapse: collapse;
}

.cart-info
{
	display: flex;
	flex-wrap: wrap;
}

th
{
	text-align: left;
	padding: 5px;
	color: #fff;
	background: var(--the-yellow);
	font-weight: normal;
}

td
{
	padding: 10px 5px;
}

td input
{
	width: 40px;
	height: 30px;
	padding: 5px;
}

td a
{
	color: var(--the-yellow);
	font-size: 12px;
}

td img
{
	width: 80px;
	height: 80px;
	margin-right: 10px;
}

.total-price
{
	display: flex;
	justify-content: flex-end;
}

.total-price table
{
	border-top: 3px solid var(--the-yellow);
	width: 100%;
	max-width: 400px;
}

td:last-child
{
	text-align: right;
}

th:last-child
{
	text-align: right;
}

.filter
{
	background-color: #fff;
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.10);
	width: 100%;
	height: 100%;
	margin-top: 20px;
	border-radius: 5px;
	display: flex;
	text-align: left;
}

.filter ul
{
	flex-basis: 50%;
	display: inline-block;
	list-style-type: none;
	z-index: 100;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	/*position: sticky;*/
	/*right: 100%;*/
}

.filter .products-count
{
	display: inline-block;
	position: sticky;
	left: 100%;
	color: #919497;
}

.filter ul li
{
	/*display: inline-block;*/
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.filter .c1
{
	margin-left: 10px;
}

.filter .c2
{
	margin-left: 20px;
}


/*------------------ media query for menu -------------------*/

@media only screen and (max-width: 1000px)
{
/*	.col-2 h1
	{
		font-size: 40px;
    line-height: 50px;
	}*/
}

/*@media only screen and (max-width: 1050px)*/
@media only screen and (max-width: 700px)
{
	.products-page-navbar nav
	{
		text-align: left;
	}

	.products-page-navbar nav ul
	{
		position: absolute;
		/*top: 70px;*/
		top: 0px;
		left: 0;
		/*right: 0;*/
		/*background: #333;*/
		background: rgb(0 0 0 / 69%);
		width: 100%;
		overflow: hidden;
		transition: max-height 0.5s;
	}

	.products-page-navbar nav ul li
	{
		display: block;
		/*margin-right: 50px;*/
		margin-top: 35px;
		margin-bottom: 35px;
	}

	.products-page-navbar nav ul li a
	{
		color: #fff;
    font-size: 30px;
	}

	/**/

	.menu-navbar nav
	{
		text-align: left;
	}

	.menu-navbar nav ul
	{
		position: absolute;
		/*top: 70px;*/
		top: 0px;
		left: 0;
		/*right: 0;*/
		/*background: #333;*/
		background: rgb(0 0 0 / 69%);
		width: 100%;
		overflow: hidden;
		transition: max-height 0.5s;
	}

	.menu-navbar nav ul li
	{
		display: block;
		/*margin-right: 50px;*/
		/*margin-top: 35px;*/
		/*margin-bottom: 35px;*/
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.menu-navbar nav ul li a
	{
		color: #fff;
    font-size: 15px;
	}

	/**/

	/**/
		.navbar nav
		{
			text-align: left;
		}

		.navbar nav ul
		{
			position: absolute;
			/*top: 70px;*/
			top: 0px;
			left: 0;
			/*right: 0;*/
			/*background: #333;*/
			background: rgb(0 0 0 / 69%);
			width: 100%;
			overflow: hidden;
			transition: max-height 0.5s;
		}

		.navbar nav ul li
		{
			display: block;
			/*margin-right: 50px;*/
			margin-top: 35px;
			margin-bottom: 35px;
		}

		.navbar nav ul li a
		{
			color: #fff;
	    font-size: 30px;
		}
	/**/

	.cart-info p
	{
		display: none;
	}

	.single-product h4
	{
		font-size: 30px;
	}
}

@media only screen and (max-width: 950px)
{
	/**/

	.menu-navbar nav
	{
		text-align: left;
	}

	.menu-navbar nav ul
	{
		position: absolute;
		/*top: 70px;*/
		top: 0px;
		left: 0;
		/*right: 0;*/
		/*background: #333;*/
		background: rgb(0 0 0 / 69%);
		width: 100%;
		overflow: hidden;
		transition: max-height 0.5s;
	}

	.menu-navbar nav ul li
	{
		display: block;
		/*margin-right: 50px;*/
		/*margin-top: 35px;*/
		/*margin-bottom: 35px;*/
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.menu-navbar nav ul li a
	{
		color: #fff;
    font-size: 15px;
	}

	/**/

	.cart-info p
	{
		display: none;
	}

	.single-product h4
	{
		font-size: 30px;
	}
}

@media only screen and (max-width: 650px)
{
/*	.col-2 h1
	{
		font-size: 30px;
    line-height: 40px;
	}*/
}

/*------------------ media query for less than 600 screen size -------------------*/

@media only screen and (max-width: 600px)
{
	.products-page-row
	{
		text-align: center;
	}

	.row
	{
		text-align: center;
	}

	.col-2, .col-3, .products-page-col-4, .col-4
	{
		flex-basis: 100%;
	}

	.single-product .products-page-row
	{
		text-align: left;
	}

	.single-product .col-2
	{
		/*padding: 20px 0;*/
	}

	.single-product h1
	{
		font-size: 26px;
		line-height: 32px;
	}
	.products-side-thing p
	{
		font-size: 100%;
	}
	.products-side-thing h2
	{
		font-size: 100%;
	}
	.filter
	{
		display: grid;
	}
	.filter ul
	{
		flex-basis: 100%;
	}
}

@media only screen and (max-width: 450px)
{
	.row-2 h2
	{
    position: sticky;
		right: 50%;
	}

	.row-2 select
	{
    position: sticky;
		left: 50%;
		margin-top: 30px;
		margin-left: 30px;
	}
}

/*-----------  input thing   ------------*/

.input-container
{
	/*position: absolute;*/
	/*transform: translate(-50%, -50%);*/
	/*top: 50%;*/
	/*left: 50%;*/
	display: flex;
	justify-content: center;
	background: #fff;
	box-shadow: 5px 5px 22px 3px rgba(0, 0, 0, 0.1);
	border-radius: 45px;
	width: 180px;   /* 40 + 40 + 60 + 50 */
	height: 65px;
}

.input-container input
{
	text-align: center;
	font-size: 30px;
	border: none;
	background-color: #fff;
	color: #202030;
	width: 65px;
	height: 65px;
	/*margin-left: 15px;*/
	/*font-family: 'Roboto', sans-serif;*/
	font-weight: bold;
}

.input-container button
{
	color: #3264fe;
	background: #fff;
	border: none;
	cursor: pointer;
	font-size: 30px;
	/*font-family: 'Roboto', sans-serif;*/
	font-weight: bold;
}

#input-decrement-btn
{
	/*padding: 15px 5px 15px 25px;*/
	border-radius: 45px 0 0 45px;
	font-size: 45px;
}

#input-increment-btn
{
	/*padding: 15px 25px 15px 5px;*/
	border-radius: 0 45px 45px 0;
}

/*----------------------------------------------------------------------------*/

.en-stock
{
	text-align: center;
	font-weight: 400;
	/*font-size: medium;*/
	font-size: 110%;
	display:block;
	border-radius: 3px;
	position: relative;
	top: 87px;
    left: 16px;
    width: fit-content;
	/*z-index: 100;*/
	background: #4cbb6c;
	color: #fff;
	border: 1px solid #4cbb6c;
	padding-left: 7px;
	padding-right: 7px;
}

.promo
{
	top: 35px;
	background: red;
	border: 1px solid red;
}

.col-2 .en-stock
{
	font-size: 140%;
	top: 77px;
}

.col-2 .promo
{
	top: 70px;
}

/*::selection {
	color: red;
}*/

