.menu-icon
{
	width: 35px;
	height: 30px;
	display: none;

	cursor: pointer;
	z-index: 100;

	-webkit-user-select: none;
  	user-select: none;
}
.menu-icon-bar
{
	background-color: white;
	width: 35px;
	height: 5px;

	margin-bottom: 5px;

	transition: 0.5s;
}
.products-page-navbar .menu-icon-bar
{
	background-color: black;
	width: 35px;
	height: 5px;

	margin-bottom: 5px;

	transition: 0.5s;
}

/*@media only screen and (max-width: 1050px)*/
/*@media only screen and (max-width: 700px)*/
@media only screen and (max-width: 950px)
{
	.menu-icon
	{
		display: block;
		cursor: pointer;
	}
}