*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	font-family: 'Poppins', sans-serif;
}

/* Header START */
	
	/*nav
	{
		flex: 1;
		text-align: right;
	}

	nav ul
	{
		display: inline-block;
		list-style-type: none;
	}

	nav ul li
	{
		display: inline-block;
		margin-right: 20px;
	}*/

	a
	{
		text-decoration: none;
		color: var(--grey1);
	}

	p
	{
		color: var(--grey1);
	}

	.navbar
	{
		display: flex;
		align-items: center;
	    padding: 10px;
	    padding-right: 90px;
	    padding-left: 90px;
	    position: absolute;
	    width: 100%;
	    height: 15vh;
	}

	.navbar .nav-logo img
	{
		width: 125px;
	}

	.navbar .nav-cart-icon
	{
		width: 30px;
		height: 30px;
	}

	.navbar .nav-menu-icon
	{
		width: 28px;
		margin-left: 20px;
		display: none;
		z-index: 999;
	}

	.container
	{
		padding: 0;
	}

	.row
	{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.col-2
	{
		flex-basis: 50%;
		min-width: 300px;
	}

	.col-2 img
	{
		max-width: 100%;
		padding: 50px 0;
	}

	.col-2 h1
	{
		font-size: 50px;
		line-height: 60px;
		margin: 25px 0;
	}

	.btn
	{
		display: inline-block;
		background: var(--red1);
		color: #fff;
		padding: 8px 30px;
		margin: 30px 0;
		border-radius: 30px;
		transition: background 0.5s;
	}

	.btn:hover
	{
		background: var(--grey2);
	}

/* Header END */

/* Navigation START */

	nav
	{
		position: fixed;
		width: 100%;
		background-color: var(--nav-bg-clr);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 1vw 8vw;
		box-shadow: var(--nav-box-shadow);
		z-index: 999;

		transition: 0.5s ease;
	}

	/* Custom Logo START */

		nav img
		{
			width: 150px;
			cursor: pointer;
		}

		.text-logo
		{
			cursor: pointer;
			text-decoration: none;
		}

		.text-logo h1
		{
			font-size: 1.5rem;
		}

		.dont-select
		{
			-webkit-user-select: none;
		  	user-select: none;
		}
	
	/* Custom Logo END */

	nav .navigation
	{
		display: flex;
	}

	#menu-btn
	{
		width: 30px;
		height: 30px;

		/* Custom START */

			/*display: none;*/
			opacity: 0;
			transition: 0.5s ease;

		/* Custom END */

		filter: var(--menu-clr-invert);
	}

	#close-menu-btn
	{
		display: none;
	}
	
	nav .navigation ul
	{
		display: flex;
		justify-content: flex-end;
		align-items: center;

		/* Custom START */

			overflow: hidden;

		/* Custom END */
	}

	nav .navigation ul li
	{
		list-style: none;
		margin-left: 30px;

		/* lang icons */

	    display: flex;
	    flex-direction: row-reverse;
	    align-items: center;
	}

	.ar-text
	{
		font-family: 'Noto Naskh Arabic', serif;
	}

	.lang-icon
	{
		height: 30px;
		width: auto;
		margin-right: 15px;
	}

	nav .navigation ul li a
	{
		text-decoration: none;
		/*color: var(--blue);*/
		color: #fff;
		font-size: 16px;
		font-weight: 500;
		transition: 0.5s ease;
    	
    	display: flex;
	    align-items: center;
	}

	/*nav:hover
	{
		background-color: var(--nav-bg-clr);
	}*/

	nav h1
	{
		color: var(--nav-logo-clr);
		transition: 0.5s ease;
	}

	nav:hover h1
	{
		color: var(--nav-logo-clr);
	}

	#nav-link
	{
		/*pointer-events: none;*/
		color: var(--nav-link-clr);
	}

	/*nav:hover #nav-link
	{
		color: var(--blue);
	}*/

	#active-nav-link, #nav-link:hover, nav:hover #active-nav-link
	{
		/*color: var(--the-red);*/
		/*color: #000;*/
	}

			#nav-link, #active-nav-link, #nav-link:hover, nav:hover #active-nav-link
			{
				/*pointer-events: none;*/
				color: var(--nav-link-clr);
			}

/* Navigation END  */

/* Products START */

	.row-2
	{
		justify-content: space-between;
		margin: 100px auto 50px;
	}

/* Products END */

/* Featured Categories START */

	.other
	{
		background-color: white;
	    width: 100%;
	    height: 100%;
	}
	
	.small-container
	{
		max-width: 1080px;
		margin: auto;
		padding-left: 25px;
		padding-right: 25px;
	}

/* Featured Categories END */

/* Featured Products START */
	
	.col-4
	{
		flex-basis: 25%;
		padding: 10px;
		min-width: 200px;
		margin-bottom: 50px;
		transition: transform 0.5s;
	}

	.col-4 img
	{
		width: 100%;

		width: 100%;
	    height: 310px;
	    object-fit: cover;
	    display: block;
	    box-shadow: 3px 4px 10px #ccc;
	    border: none;
	    border-radius: 20px 20px 20px 20px;
	}

	.col-4 p
	{
		font-size: 14px;
	}

	.col-4:hover
	{
		transform: translateY(-15px);
	}

	.rating i
	{
		color: var(--red1);
	}

/* Featured Products END */

/* Footer START */

	.footer
	{
		background-color: #111111;

		padding-top: 80px;
	  	padding-bottom: 120px;

		padding-right: 5%;
		padding-left: 5%;

		-webkit-user-select: none;
	  	user-select: none;
	}

	.footer-container
	{
		max-width: 1350px;
		margin: auto;
	}

	.footer ul
	{
		list-style: none;
	}

	.footer-row
	{
		display: flex;
		flex-wrap: wrap;
	}

	.footer-col
	{
		width: 33%;
	}

	.footer-col h4
	{
		font-size: 18px;
		color: #fff;
		text-transform: capitalize;
		margin-bottom: 30px;
		font-weight: 500;
		position: relative;
	}

	.footer-col h4::before
	{
		content: '';
		position: absolute;
		left: 0;
		bottom: -10px;
		background-color: var(--the-red);
		height: 2px;
		box-sizing: border-box;
		width: 50px;
	}

	.footer-col ul li:not(:last-child)
	{
		margin-bottom: 30px;
	}

	.footer-col ul li a
	{
		font-size: 16px;
		text-transform: capitalize;
		color: #fff; 
		text-decoration: none;
		font-weight: 300;
		color: #bbb;
		transition: all 0.3s ease;
	}

	.footer-col ul li a:hover
	{
		color: #fff;
		padding-left: 8px;
	}

	.social-links a
	{
		background-color: rgba(255, 255, 255, 0.2);
		color: #fff;
		width: 40px;
		height: 40px;
		font-size: 20px;
		display: inline-block;
		
		cursor: pointer;
		margin: 0 10px 15px 0;
		text-align: center;
		line-height: 40px;
		border-radius: 50%;
		transition: all 0.5s ease;
	}

	.footer-col .social-links a
	{
		font-size: 20px;
		display: inline-block;
		height: 40px;
		width: 40px;
		background-color: rgba(255, 255, 255, 0.2);
		color: #fff;
		margin: 0 10px 10px 0;
		text-align: center;
		line-height: 40px;
		border-radius: 50%;
		transition: all 0.5s ease;
	}

	#wa-icon:hover
	{
		color: #25d366;
		background-color: #fff;
	}

	#fb-icon:hover
	{
		color: #4267B2;
		background-color: #fff;
	}

	#tw-icon:hover
	{
		color: #1DA1F2;
		background-color: #fff;
	}

	#ig-icon:hover
	{
		color: #c13584;
		background-color: #fff;
	}

	#li-icon:hover
	{
		color: #0072b1;
		background-color: #fff;
	}

	.footer .container
	{
		max-width: 1350px;
		padding-right: 0;
		padding-left: 0;
		padding-bottom: 0;
		margin-bottom: -80px;
	}

	.container .footer-col
	{
		width: 100%;
	}

	.footer hr
	{
		border: none;
		background: #b5b5b5;
		height: 1px;
		position: center;
		margin: 20px 0;
	}

	.copyright
	{
		text-align: left;
		color: #bbb;
		font-family: 'fonts/HONORSansArabicUI-R', sans-serif;
	}

/* Footer END */

/* Media Query START */

	/* Menu START */

		/*@media only screen and (max-width: 800px)
		{
			.navbar .nav-menu-icon
			{
				display: block;
				cursor: pointer;
			}
		}*/

	/* Menu END */

	@media only screen and (max-width: 600px)
	{
		.row
		{
			text-align: center;
		}
		.col-2, .col-3, .col-4
		{
			flex-basis: 100%;
		}
	}

	/* Footer START */

		@media(max-width: 767px)
		{
			.footer-col
			{
				width: 50%;
				margin-bottom: 30px;
			}
		}

		@media(max-width: 574px)
		{
			.footer-col
			{
				width: 50%;
			}
		}

	/* Footer END */

/* Media Query END */

/* nav */

/* Media Query START */
	
	/*@media (max-width: 769px)*/
	@media (max-width: 920px)
	{
		nav
		{
			--nav-link-clr: #fff;
		}

	    /* Custom START */

	      nav .navigation ul
	      {
	        overflow-y: scroll;
	      }

	      /* Hide scrollbar for Chrome, Safari and Opera */
	      nav .navigation ul::-webkit-scrollbar
	      {
	        display: none;
	      }

	      /* Hide scrollbar for IE, Edge and Firefox */
	      nav .navigation ul
	      {
	        -ms-overflow-style: none;  /* IE and Edge */
	        scrollbar-width: none;  /* Firefox */
	      }

	    /* Custom END */
	    
		nav
		{
			padding: 15px 20px;
		}

		nav .navigation ul.active
		{
			right: 0;
		}

		nav .navigation ul
		{
			position: absolute;
			top: 0;
			right: -220px;
			width: 220px;
			height: 100vh;
			background: rgb(180 34 34 / 45%);
			backdrop-filter: blur(4.5px);
			border: 1px solid rgba(255, 255, 255, 0.18);
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			transition: 0.5s ease;
		}

		nav .navigation ul li
		{
			padding: 20px 0 20px 40px;
			margin-left: 0;
		}

		nav .navigation ul li a
		{
			color: #fff;
		}

		nav img
		{
			width: 130px;
		}

		#close-menu-btn
		{
			display: initial;
			font-size: 1.6rem;
			color: #fff;
			padding: 30px 0 20px 20px;
		}

		#menu-btn
		{
			/* Custom START */

				/*display: initial;*/
				opacity: 1;
		
			/* Custom END */
		}

		/* Custom START */
		
			#menu-btn.active
			{
				opacity: 0;
			}
		
		/* Custom END */

		#home h2
		{
			padding-top: 50px;
		}

		#home p
		{
			width: 90%;
		}

		#home .background
		{
			/* Custom START */

				/*padding-top: 0;*/
				/*padding: 0 30px;*/

			/* Custom END */
		}

		#home .background
		{
			padding: 0 20px;
		}


		/* Custom START */

			/*#features
			{
				padding: 8vw 4vw 0 4vw;
			}
			#courses
			{
				margin-top: 8vw;
				padding: 8vw 4vw 0 4vw;
			}

			#registration
			{
				padding: 6vw 4vw 6vw 4vw;
			}

			#registration .reminder .time
			{
				flex-wrap: wrap;
			}

			#experts
			{
				padding: 8vw 8vw 4vw 8vw;
			}*/

		/* Custom END */

		footer .copyright .pro-links
		{
			margin-top: 15px;
		}
	}

	@media (max-width: 475px)
	{
		#registration
		{
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
		}

		#registration .reminder .time
		{
			justify-content: center;
			align-items: center;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}


	/* Custom START */

		@media (max-height: 620px)
		{
			#home h2
			{
				font-size: 1.7rem;
			}
		}

	/* Custom END */

/* Media Query END */