*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	/*font-family: 'Golos Text', sans-serif;*/
	font-family: 'fonts/GolosText-Regular', sans-serif;
	display: grid;
}

.header
{
	/* red (original) */
	/*background: radial-gradient(#fff, #ffd6d6);*/

	/* blue */
	/*background: radial-gradient(#fff, #00BFFF);*/


	/*background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(background.jpg);*/
	/*background-image: radial-gradient(rgba(255, 255, 255, 0.0), rgba(65, 105, 225, 0.4)), url(background.jpg);*/
	/*background-image: url(background.jpg);*/
	/*filter: blur(8px);*/
  	/*-webkit-filter: blur(8px);*/
	background-size: cover;
	background-position: center;
	background-image: linear-gradient(rgb(0 0 0 / 40%), rgb(255 255 255 / 0%), rgb(255 255 255 / 0%), rgb(0 0 0 / 40%));
}

.container
{
	/*max-width: 1300px;*/
	margin: auto;
	/*padding: 25px;*/
	padding: 25px;
/*	padding-left: 25px;
	padding-right: 25px;*/
}

.header .container
{
	padding: 0;
}

.header .row
{
	/*margin-top: 70px;*/
	margin-right: 70px;
	margin-left: 70px;
}

.row
{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.other
{
	background-color: white;
	width: 100%;
	height: 100%;
}

p
{
	color: #555;
}

.col-2
{
	flex-basis: 50%;
	min-width: 300px;
}

.col-2 img
{
	max-width: 100%;
	max-height: 100%;
	padding: 50px 0;
}

.col-2 h1
{
	/*font-size: 60px;*/
	/*line-height: 60px;*/
	margin: 25px 0;
	/*color: #FFF;*/
	/*text-shadow: 0 0 20px #000;*/
}

.col-2 p
{
	/*font-size: 20px;*/
	/*text-shadow: 0 0 10px #000, 0 0 10px #000;*/
}

.btn
{
	display: inline-block;

	/*red (original)*/
	/*background: #ff523b;*/

	/*blue*/
	background: #4169E1;

	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s;
}

.btn:hover
{
	background: #563434;
}



.categories
{
	padding-top: 70px;
  /* margin: 70px 0; */
  /*margin-top: 50px;*/
}

.col-3
{
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
}

.col-3 img
{
	width: 100%;
}

.small-container
{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.col-4
{
	flex-basis: 25%;
	padding: 10px;
	min-width: 250px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}

.col-4 img
{
	width: 100%;
}

.col-4 p
{
	/*font-size: 14px;*/
}

.col-4:hover
{
	/*transform: translateY(-5px);*/
	transform: translateY(-20px);
}

.checked {
  color: orange;
  /*color: #ff523b;*/
}

.title
{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: #555;
}

.title::after
{
	content: '';

	/*red (original)*/
	/*background: #ff523b;*/
	/*blue*/
	background:	#4169E1;

	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

h4
{
	color: #555;
	font-weight: normal;
}

/*-------------- offer --------------*/

.offer
{
	/* red (original) */
	/*background: radial-gradient(#fff, #ffd6d6);*/

	/* blue */
	background: radial-gradient(#fff, #00BFFF);

	margin-top: 80px;
	padding: 30px 0;
}

.col-2 .offer-img
{
	padding: 50px;
}

.col-2 p
{
	/*color: #FFF;*/
}

small
{
	color: #555;
}

/*-------------- testimonial --------------*/

.testimonial
{
	padding-top: 100px;
}

.testimonial .col-3
{
	text-align: center;
	padding: 40px 20px;
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: transform 0.5s;
}

.testimonial .col-3 img
{
	width: 50px;
	margin-top: 20px;
	border-radius: 50%;
}

.testimonial .col-3:hover
{
	/*transform: translateY(-10px);*/
	transform: translateY(-20px);
}

.fa.fa-quote-left
{
	font-size: 34px;
	/*red (original)*/
	/*color: #ff523b;*/

	/*blue*/
	color: #4169E1;
}

.col-3 p
{
	font-size: 12px;
	margin: 12px 0;
	color: #777;
}

.testimonial .col-3 h3
{
	font-weight: 600;
	color: #555;
	font-size: 16px;
}

.social-links
{
	transition: 0.5s;
}

.home-page-navbar
{
	display: flex;
	align-items: center;
	padding: 10px;
	padding-right: 90px;
	padding-left: 90px;
	/*background: #FFF;*/
	/*background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));*/

	/*background-color: red;*/
  	position: absolute;
  	width: 100%;

  	height: 15vh;
}

.home-page-navbar nav
{
	flex: 1;
	text-align: right;
	z-index: 100;
}

.home-page-navbar nav ul
{
	display: inline-block;
	list-style-type: none;
	text-align: center;
}

.home-page-navbar nav ul li
{
	display: inline-block;
	margin-right: 20px;
	position: relative;
}

.home-page-navbar nav ul li a
{
	text-decoration: none;
	/*text-shadow: 0 0 5px #000;*/
	/*font-weight: bold;*/
	/*color: #555;*/

	-webkit-user-select: none;
  user-select: none;

	color: #FFF;
	text-transform: uppercase;
}

	.home-page-navbar nav ul li::after
	{
		content: '';
		height: 3px;
		width: 0;
		background: #4169E1;
		position: absolute;
		left: 0;
		bottom: -10px;
		transition: 0.5s;
	}

	.home-page-navbar nav ul li:hover::after
	{
		width: 100%;
	}

/*@media only screen and (max-width: 1050px)*/
@media only screen and (max-width: 700px)
{
	.home-page-navbar nav ul
	{
		position: absolute;
		top: 0;
		left: 0;
		/*background: #333;*/
		background: rgb(0 0 0 / 69%);
		width: 100%;
		overflow: hidden;
		transition: max-height 0.5s;
	}

	.home-page-navbar nav ul li
	{
		display: block;
		/*margin-right: 50px;*/
		margin-top: 35px;
		margin-bottom: 35px;
	}

	.home-page-navbar nav ul li a
	{
		color: #fff;
		font-size: 30px;
	}
}

@media only screen and (max-width: 600px)
{
	.home-page-navbar
	{   
		padding-right: 35px;
    padding-left: 35px;
	}
}

/*   loading video cover    */

.cover
{
	width: 100vw;
	height: 100vh;
	background-color: white;
	z-index: 1000;
	position: fixed;
	transition: 0.5s;
}

.cover p
{
	color: black;
	font-size: 40px;
  text-align: center;
  padding-top: 10vh;
  margin-bottom: 40px;
}

.loader {
  margin: auto;
  border: 20px solid #EAF0F6;
  border-radius: 50%;
  border-top: 20px solid #FF7A59;
  /*width: 200px;*/
  /*height: 200px;*/
  width: 150px;
  height: 150px;
  /*animation: spinner 4s linear infinite;*/
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*   loading video cover    */


/*--------------- brands ---------------*/

.brands
{
	margin: 100px auto;
}

.col-5
{
	width: 160px;
}

.col-5 img
{
	width: 100%;
	cursor: pointer;
	filter: grayscale(100%);
}

.col-5 img:hover
{
	filter: grayscale(0);
}


/*------------------ media query for less than 600 screen size -------------------*/

@media only screen and (max-width: 600px)
{
	.row
	{
		text-align: center;
	}

	.col-2, .col-3, .col-4
	{
		flex-basis: 100%;
	}
}